<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
    <title>Count Repeats</title>
  </head>
  <body>
      <div class="container">
          <h1>Count Word Repetition</h1>
          <form action="/match" method="get">
              <div>
                <label for="phrase">Enter a phrase: </label>
                <input name="phrase" type="text" id="phrase">
              </div>
              <br>
              <div>
                <label for="word">Enter a word: </label>
                <input name="word" type="text" id="word">
              </div>
              <br>
              <button type="submit" class="btn btn-success">Submit</button>
          </form>
      </div>
  </body>
</html>
