<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Count Repeats</title>
  </head>
  <body>
    <div class="container">
      <h1>Count Word Repetition</h1>
      <h3>Results:</h3>
      <h4>The word '<mark>{{ word }}</mark>'</h4><br>
      <h4>appears  '<strong>{{ times }}</strong>' time(s) </h4><br>
      <h4>in <u>'{{ phrase }}' </u></h4>
      <p><a href="/">Go Back</a></p>
    </div>
  </body>
</html>
