<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
    <title>Count Repeats</title>
  </head>
  <body>
    <div class="container">
      <h1>Count Word Repetition</h1>
      <h3>Results:</h3>
      <ul>
      <li>The word '<strong>{{ word }}</strong>'</li><br>
      <li>appears  '<strong>{{ times }}</strong>' time(s) </li><br>
      <li>in '<em>{{ phrase }}</em>'  </li>
      <p><a href="/">Go Back</a></p>
    </div>
  </body>
</html>
